nav .active{
    text-decoration:underline;
    font-weight:bold;
}

nav a{
    color:black;
    font-size:18px;
    
}

nav li{
    width:250px;
    text-align:center;
   
}

nav ul{
    margin:0 13%;
}